<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>ROOM</title>
</head>

<body>
  <a th:href="@{/numeron/back}">もどる</a>
  <h1>ルーム選択</h1>
  ようこそ、[[${name}]] さん<br>

  <h2>部屋一覧</h2>
  <div th:each="room:${rooms}">
    <ul>
      <li><a th:href="@{/multiNumeron/match(roomId=${room.id})}"> [[${room.name}]]</a></li>
    </ul>
  </div>

  <h2>入室状況</h2>
  <table th:each="active:${activematches}">
    <tr>
      <td>id:[[${active.id}]]</td>
      <td>user1:[[${active.user1}]]</td>
      <td>user2:[[${active.user2}]]</td>
      <td>isActive:[[${active.isActive}]]</td>
    </tr>
  </table>
</body>

</html>