<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8" />
    <title>NUMERON</title>
</head>

<body>
    <a href="../index.html">もどる</a><br>
    <h1>セレクト画面</h1>
    <h2>ぼっちぬめろん</h2>
    <a href="/soloNumeron">START</a>

    <h2>ぬめろん対戦</h2>
    <b>名前を入力</b>
    <form th:action="@{multiNumeron/multiRoom}" method="post">
        <input type="text" name="name" />
        <input type="submit" value="決定"><input type="reset" value="取消">
    </form>

</body>

</html>