<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">
<head>
  <meta charset="utf-8">
  <title>NUMERON</title>
  <script>
      window.onload = function () {
          var sse = new EventSource('/multiNumeron/sse');
          sse.onmessage = function (event) {
              console.log("sse.onmessage")
              console.log(event.data);
              var wordLogs_list = JSON.parse(event.data);//JSONオブジェクトとしてparse
              var wordLogs_table = "";
              // DBに残っている単語のリストがJSONオブジェクトとして得られるので，htmlを作成し，tbodyの中身毎入れ替える
              for (var i = 0; i < wordLogs_list.length; i++) {
                  var bgn_tr = "<tr>";
                  var end_tr = "</tr>";
                  var idx = "<td>" + i + "</td>";
                  var w_ans = "<td>" + wordLogs_list[i].word + "</td>";
                  var w_eatcount = "<td>" + wordLogs_list[i].eatcount + "</td>";
                  var w_bitecount = "<td>" + wordLogs_list[i].bitecount + "</td>";
                  wordLogs_table = wordLogs_table + bgn_tr + idx + w_ans + w_eatcount + w_bitecount + end_tr;
              }
              console.log(wordLogs_table);
              var tbody = document.getElementById("wordLogs_list");
              tbody.innerHTML = wordLogs_table;//idがwordLogs_listのtbodyのHTMLを差し替える
          }
      }
  </script>
</head>
<body>
  <h1>ぬめろん</h1>
  <p>４文字の英単語を先に当てるゲーム</p>
  <p th:if="${dictionary}">
  <div>
    <p>相手の手を待っています</p>
    <p>ランダムな単語: <span th:text="${randomWord}"></span></p>
  </div>
  </p>
  [[${ans}]]
  [[${atari}]]
  [[${eatcnt}]]
  [[${bitecnt}]]
  <div th:if="${wordLogs}">
    <table boarder="1">
      <thead>
        <th>Index</th>
        <th>ans</th>
        <th>eat</th>
        <th>bite</th>
      </thead>
      <tbody id = "wordLogs_list">
        <tr th:each="wordLog,stat:${wordLogs}">
          <td>[[${stat.index}]]</td>
          <td>[[${wordLog.ans}]]</td>
          <td>[[${wordLog.eatcnt}]]</td>
          <td>[[${wordLog.bitecnt}]]</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>